.profile .social .contact-icons {
  font-size: 1.2rem;
}

.profile .social .contact-icons a img {
  width: 1.8rem;
  height: 1.8rem;
  margin-bottom: 0.5rem;
}

.profile .social .contact-icons a svg {
  width: 2rem;
  height: 2rem;
  margin-bottom: 0.5rem;
}

.profile .social .contact-icons a svg image {
  width: 2rem;
  height: 2rem;
}
